<app-header></app-header>
<div class="main d-flex">
  <app-aside class="col-md-1"></app-aside>
  <div class="col-md-11">
    <div class="px-3 py-3 d-flex container">
      <div class="col-md-6">
        <p>User id {{ user.id }}</p>
        <p>User name {{ user.name }}</p>
        <p>User email {{ user.email }}</p>
        <p>User password {{ user.password }}</p>
        <div class="d-flex">
          <div class="dropdown me-3">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Entitlements
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li
                class="dropdown-item"
                *ngFor="let item of user.entitlements.split(',')"
              >
                {{ item }}
              </li>
            </ul>
          </div>
          <button
            *ngIf="canEdit || userId == user.id.toString()"
            (click)="switchEditMode()"
            class="btn btn-info"
          >
            Edit
          </button>
        </div>
      </div>
      <form *ngIf="editMode" class="col-md-6" (change)="onFormChange()">
        <div class="form-floating mb-5">
          <input
            type="text"
            class="form-control"
            [ngModel]="user.name"
            #name="ngModel"
            name="name"
            id="name"
            placeholder="name@example.com"
            pattern="[a-zA-Z]+"
            autocomplete="off"
            required
            pattern="[a-zA-Z]+"
          />
          <label for="floatingInput">Name</label>
          <div
            *ngIf="name.invalid && name.dirty && name.value !== ''"
            class="alert alert-danger"
          >
            Incorect name.Only latin letters permitted
          </div>
        </div>
        <div class="form-floating mb-5">
          <input
            type="email"
            class="form-control"
            [ngModel]="user.email"
            #email="ngModel"
            name="email"
            id="email"
            placeholder="name@example.com"
            autocomplete="off"
            readonly="true"
            required
            pattern="[a-zA-Z0-9_]{3,}\@[a-z]{2,8}\.[a-z]{2,4}"
          />
          <label for="floatingInput">Email address</label>
          <div
            *ngIf="email.invalid && email.dirty && email.value !== ''"
            class="alert alert-danger"
          >
            Incorect email.Email example:name@gmail.com
          </div>
        </div>
        <div class="form-floating mb-5">
          <input
            type="password"
            class="form-control"
            [ngModel]="user.password"
            #password="ngModel"
            name="password"
            id="password"
            placeholder="Password"
            required
            pattern="[a-zA-Z0-9_]{4,16}"
          />
          <label for="floatingPassword">Password</label>
          <div
            *ngIf="password.invalid && password.dirty && password.value !== ''"
            class="alert alert-danger"
          >
            Incorect password.You can use only latin letters,numbers and _
          </div>
        </div>
        <div *ngIf="canEditEntitlements" class="mb-5">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Entitlements
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li *ngFor="let item of entitlements">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="{{ item }}"
                    id="{{ item }}"
                    [checked]="user.entitlements.split(',').includes(item)"
                    (change)="setChecked(item)"
                  />
                  <label class="form-check-label" for="{{ item }}">
                    {{ item }}
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="d-flex justify-content-center my-5 pt-3">
          <button
            class="btn btn-primary"
            [disabled]="name.invalid || password.invalid || email.invalid"
            (click)="save(password.value)"
          >
            Save
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-3 mx-auto"><div toastContainer></div></div>
  </div>
</div>
<app-footer></app-footer>
